<div id="header">
	<img ng-if="CVData.head.showPortrait" id="portrait" ng-src="./{{CVData.head.portrait}}" />
	<div id="header-texts">
		<h1 id="title" ng-bind="CVData.head.title"></h1>
		<h2 id="subtitle" ng-bind="CVData.head.subtitle"></h2>
		<h3 id="quote" ng-bind="CVData.head.quote"></h3>
	</div>
	<div ng-if="CVData.head.showContact" id="header-contact">
	</div>
</div>
<div id="body">
	<div class="main-section">
		<cv-count-container id="SkillSet" class="countersContainer" data="CVData.body.SkillSet">
		</cv-count-container>
		<div class="middleZone">
			<img id="QRCode" ng-src="./{{CVData.body.QR}}" ng-if="CVData.body.showQR" />
			<a ng-href="{{CVData.body.GitHubAddress}}" class="socialLink" target="_blank" ng-if="CVData.body.showGH">
				<img id="GHLogo" class="socialLogo" ng-src="./img/GitHub-Mark-120px-plus.png" />
			</a>
			<a ng-href="{{CVData.body.QRAddress}}" class="socialLink" target="_blank" ng-if="CVData.body.showQR">
				<img id="InLogo" class="socialLogo" ng-src="./img/In-2C-81px-R.png" />
			</a>
			<a ng-href="https://twitter.com/{{CVData.body.TwitterHandle}}" class="socialLink" target="_blank" ng-if="CVData.body.showTwitter">
				<img id="TwitterLogo" class="socialLogo" ng-src="./img/TwitterLogo_55acee.png" />
			</a>
		</div>
		<cv-count-container id="Techs" class="countersContainer" data="CVData.body.Techs">
		</cv-count-container>
	</div>
	<cv-timeline id="timeline"></cv-timeline>
</div>
<div id="footer">
	<!--<pre ng-bind="serialized"></pre>//-->
</div>